
@{
    ViewData["Title"] = "NoDelete";
}

    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 form-group">
                        <h3>Sorry this project contains Timesheet Entries and cannot be deleted</h3>
                        <br>
                        <a class="btn btn-secondary" asp-action="Index">Back to Project List</a>
                        <meta http-equiv="refresh" content="3;url=../Index">
                    </div>
                </div>
            </div>
        </section>
    </div>