
@{
    ViewData["Title"] = "NoDelete";
}

    <div align="center">
        <h3>Sorry this project contains Timesheet and can not be deleted</h3>
        <br>

        <a asp-action="Index">Back to Department List</a>
        <meta http-equiv="refresh" content="3;url=../Index">
        
    </div>

