@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 form-group">
                    <h1 class="text-danger">@ViewData["Title"]</h1>
                    <p class="text-danger">You do not have access to this resource.</p>
                </div>
            </div>
        </div>
    </section>
</div>