@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="col-xl-4 offset-xl-4">
                    <div class="row justify-content-center">
                        <div class="o-hidden border-0 my-5">
                            <div class="card p-0">
                                <!-- Nested Row within Card Body -->
                                <div class="row">
                                    <form method="post">
                                        <div class="card-body">
                                            <h2>
                                                @ViewData["Title"]
                                            </h2>
                                            <p>Enter your email adress and we will send you a link to reset your password.</p>
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            <div class="form-group">
                                                <input asp-for="Input.Email" class="form-control" placeholder="Email Adress" />
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            </div>
                                            <button type="submit" class="btn btn-secondary">Reset Password</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
