@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="container">

                        <div class="card o-hidden border-0 shadow-lg my-5">
                            <div class="card-body p-0">
                                <!-- Nested Row within Card Body -->
                                <div class="row">
                                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                                    <div class="col-lg-7">
                                        <div class="p-5">
                                            <div class="row">
                                                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                                        <h4>Create an Account!</h4>
                                                        <hr />
                                                        <div asp-validation-summary="All" class="text-danger"></div>
                                                        <div class="form-group row">
                                                            <div class="input-group col-sm-6 mb-3 mb-sm-0">
                                                                <input asp-for="Input.FirstName" class="form-control" placeholder="First Name" />
                                                                <div class="input-group-append">
                                                                    <div class="input-group-text">
                                                                        <span class="fas fa-user"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                                            <div class="input-group col-sm-6">
                                                                <input asp-for="Input.LastName" class="form-control" placeholder="Last Name" />
                                                                <div class="input-group-append">
                                                                    <div class="input-group-text">
                                                                        <span class="fas fa-user"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input asp-for="Input.Email" class="form-control" placeholder="E-mail"/>
                                                                <div class="input-group-append">
                                                                    <div class="input-group-text">
                                                                        <span class="fas fa-envelope"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <select asp-for="Input.DepartmentId" asp-items="Model.DepartmentIds" class="form-control" >
                                                                <option value="">Select Department</option>
                                                            </select>
                                                            <span asp-validation-for="Input.DepartmentId" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input asp-for="Input.ManHourCost" class="form-control" placeholder="Cost Per Working Hour"/>
                                                                <div class="input-group-append">
                                                                    <div class="input-group-text">
                                                                        <span class="fas fa-business-time"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <span asp-validation-for="Input.ManHourCost" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input asp-for="Input.Password" class="form-control" placeholder="Password"/>
                                                                <div class="input-group-append">
                                                                    <div class="input-group-text">
                                                                        <span class="fas fa-lock"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Repeat Password"/>
                                                                <div class="input-group-append">
                                                                    <div class="input-group-text">
                                                                        <span class="fas fa-lock"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary">Register</button>
                                                    </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
