@model Timesheets.ViewModels.CreateTimesheetEntryViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Timesheet Form</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Timesheet Form</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Create Timesheet</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start asp-route-id="Model.UserId"-->
                        <form asp-controller="Timesheets" asp-action="Create" method="post">
                            <div class="card-body">
                                <div class="form-group">
                                    <label asp-for="User"></label>
                                    <select asp-for="UserId" asp-items="@Model.UserList" class="form-control" required></select>
                                    <span asp-validation-for="User"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Project"></label>
                                    <select asp-for="ProjectId" asp-items="@Model.ProjectList" class="form-control" required></select>
                                    <span asp-validation-for="Project"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DateCreated"></label><input asp-for="DateCreated" asp-format="{0:dd/MM/yyyy HH:mm}" class="form-control" />
                                    <span asp-validation-for="DateCreated"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="HoursWorked"></label><input asp-for="HoursWorked" class="form-control" />
                                    <span asp-validation-for="HoursWorked"></span>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <input type="submit" class="btn btn-primary" value="Create" />
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
</div>