@model ApplicationUsersDetailsViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.ApplicationUser.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manager)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Manager.ManagerId)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ApplicationUser.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
